<beans:beans xmlns="http://www.springframework.org/schema/security"
    xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
http://www.springframework.org/schema/security 
http://www.springframework.org/schema/security/spring-security-3.2.xsd">

<global-method-security
		secured-annotations="enabled" />

	<http auto-config="true" >
		<intercept-url pattern="/admin/**"
			access="ROLE_ADMIN" />
		<intercept-url pattern="/*"
			access="IS_AUTHENTICATED_ANONYMOUSLY" />
		<form-login login-page="/login" authentication-failure-url="/loginError"/>
		<access-denied-handler error-page="/errors/403"/>
	</http>

	<authentication-manager>
		<authentication-provider user-service-ref="securityUserService" />
	</authentication-manager>
	
	</beans:beans>